{
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "printWidth": 120,
    "bracketSpacing": true,
    "bracketLine": true,
    "arrowFunctionParentheses": "avoid",
    "singleAttributePerLine": true,
    "trailingComma": "all"
  }